<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>
    <form action="login" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" id=""> <br>
        <input type="password" name="password" placeholder="Password" id=""> <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>